.default-container
  = render partial: "/layouts/header"
  .main-contents
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          = link_to do
            %img.banner-slider{ src: "https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-kusanagi-xmas.jpg"}
        .swiper-slide
          = link_to do
            %img.banner-slider{ src: "https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-new-register.png"}
        .swiper-slide
          = link_to do
            %img.banner-slider.welcome{ src: "https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-welcome.png"}
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next

    .pickup-contents
      %h2.pickup-contents-header ピックアップカテゴリー
      .items-box-container.clearfix
        %h3.text-center
          %a{:href => " "} レディース 新着アイテム
        .items-box-content.clearfix
          / レディース新着アイテムここから
          / １商品ここから
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （１）レディース新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          / １商品ここまで
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （２）レディース新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （３）レディース新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （４）レディース新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
        .view-all
          %a{:href => " "} すべての商品を見る
      .items-box-container.clearfix
        %h3.text-center
          %a{:href => ""}
            メンズ 新着アイテム
        .items-box-content.clearfix
          / メンズ新着アイテムここから
          / １商品ここから
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （１）メンズ新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          / １商品ここまで
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （２）メンズ新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （３）メンズ新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （４）メンズ新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
        .view-all
          %a{:href => " "} すべての商品を見る
      .items-box-container.clearfix
        %h3.text-center
          %a{:href => ""}
            ベビー・キッズ 新着アイテム
        .items-box-content.clearfix
          / ベビー・キッズ 新着アイテムここから
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （１）ベビー・キッズ 新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （２）ベビー・キッズ 新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （３）ベビー・キッズ 新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （４）ベビー・キッズ 新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
        .view-all
          %a{:href => " "} すべての商品を見る
      .items-box-container.clearfix
        %h3.text-center
          %a{:href => ""}
            コスメ・香水・美容 新着アイテム
        .items-box-content.clearfix
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （１）コスメ・香水・美容 新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （２）コスメ・香水・美容 新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （３）コスメ・香水・美容 新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （４）コスメ・香水・美容 新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
        .view-all
          %a{:href => " "} すべての商品を見る
    .pickup-contents
      %h2.pickup-contents-header ピックアップブランド
      .items-box-container.clearfix
        %h3.text-center
          %a{:href => " "} シャネル新着アイテム
        .items-box-content.clearfix
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （１）シャネル新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （２）シャネル新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （３）シャネル新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => " "}
              %figure.items-box-photo
                %img{:src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11982650864_1.jpg?1528301436"}/
              .items-box-body
                %h3.items-box-name.font-2 （４）シャネル新着アイテム
                .items-box-num
                  .items-box-price.font-5 ¥ 2,500
                  .items-box-likes.font-2
                    = fa_icon 'heart'
                    %span 16
                  %p.item-box-tax (税込)
        .view-all
          %a{:href => " "} すべての商品を見る
  = render partial: "/layouts/footer"

