= render 'layouts/flash'
= render'layouts/login_header'
.login
  .item
    %h2.item__title
      商品の情報を入力
    = form_for @item, multipart: true do |f|
      .item__photoupload
        .item__photoupload__label
          出品画像
        .item__photoupload__subtitle
          最大４枚までアップロードできます
        .item__photoupload__image
          %p ドラッグアンドドロップ
          %p またはクリックしてファイルをアップロード
      .item__upload
        .form-group
          = f.label "商品名", class: "form-group__label"
          = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "form-group__input-field"
        .form-group
          = f.label "商品の説明", class: "form-group__label"
          = f.text_area :description, rows: "5", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "form-group__input-field"
      .item__sub
        .item__sub__description
          商品の詳細
        .item__sub__wrapper
          .form-group
            = select_tag "category", options_for_select(["選択して下さい", "---", "item"])
            / ＊＊--テーブル完成後にコメントアウトを外すーーー＊＊
            / = f.label "カテゴリー", class: "form-group__label"
            / = f.text_field :name, placeholder: "---", class: "form-group__input-field"
          .form-group
            = f.label "商品の状態", class: "form-group__label"
            = f.text_field :condition, placeholder: "---", class: "form-group__input-field"
      .item__sub
        .item__sub__description
          発送について？
        .item__sub__wrapper
          .form-group
            = select_tag "shipping", options_for_select(["選択して下さい", "---", "free"])
            / ＊＊--テーブル完成後にコメントアウトを外すーーー＊＊
            / = f.label "配送料の負担", class: "form-group__label"
            / = f.text_field :name, placeholder: "---", class: "form-group__input-field"
          .form-group
            = select_tag "prefecture", options_for_select(["選択して下さい", "---", "東京"])
            / ＊＊--テーブル完成後にコメントアウトを外すーーー＊＊
            / = f.label "発送元の地域", class: "form-group__label"
            / = f.text_field :name, placeholder: "---", class: "form-group__input-field"
          .form-group
            = select_tag "schedule", options_for_select(["選択して下さい", "---", "１〜３日"])
            / ＊＊--テーブル完成後にコメントアウトを外すーーー＊＊
            / = f.label "発送までの日数", class: "form-group__label"
            / = f.text_field :name, placeholder: "---", class: "form-group__input-field"
      .item__sub
        .item__sub__description
          販売価格(300〜9,999,999)
        .item__sub__wrapper
          .form-group.form-group__horizontal
            = f.label "価格", class: "form-group__label"
            %span.item__sub__wrapper__currency
              ¥
            = f.text_field :price, placeholder: "例）300", class: "form-group__input-field"
          .item__sub__wrapper__price-fields
            .item__sub__wrapper__price-fields__commission
              .item__sub__wrapper__price-fields__commission__description
                販売手数料(10%)
              .item__sub__wrapper__price-fields__commission__amount
                \-
            .item__sub__wrapper__price-fields__profit
              .item__sub__wrapper__price-fields__profit__description
                販売利益
              .item__sub__wrapper__price-fields__profit__amount
                \-
      .item__warning
        禁止されている出品、行為を必ずご確認ください。
        またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
        また、出品をもちまして加盟店規約に同意したことになります。
      .item__button-wrapper
        = f.submit "出品する", class:"login__button login__button__next"
      .item__back-button-wrapper
        = link_to "もどる", root_path, class: "login__button login__button__gray"
= render'layouts/login_footer'
